@import './variable.styl'
*
  box-sizing: border-box
body
h1
h2
h3
h4 
h5
h6
ul
ol
p
img
input
ul
li
  margin: 0
  padding: 0
  border: none

html 
  font-family: Arial,Helvetica,sans-serif
body
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: $theme-bgcolor
a
  text-decoration: none
  color: #fff
input
  outline: none
h1
  font-size: $font-size-large-x
  font-weight: $font-weight-large
h2
  font-size: $font-size-large
  font-weight: $font-weight-middle
ul
li
  list-style: none
img
  vertical-align: bottom